

.perfilCristian{
    background-color: rgb(194, 31, 31);
    height: auto;
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.nombre__texto{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7rem;
}

a{
    color: greenyellow;
}

.texto__info{
    color: white;
    font-size: 1.4rem;
}
.img__perfil{
    width: 200px;
    height: 200px;
    border: 4px;
}