/*
Seccion de Cristian
*/

*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

/*
Seccion de David
*/




/*
Seccion de Alexis
*/




/*
Seccion de Zuleta
*/




/*
Seccion de Walter
*/



